In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.ticker as ticker
from google.cloud import bigquery
import os
from google.cloud import bigquery


# pd.set_option('display.max_columns', None)

os.chdir('/home/jupyter')
!pwd
# # %cd 
# !pwd
# (base) jupyter@starfire-1:~$ pip install jupyter-console
# (base) jupyter@starfire-1:~$ !jupyter console --existing
%connect_info

/home/jupyter
{
  "shell_port": 49573,
  "iopub_port": 57247,
  "stdin_port": 49689,
  "control_port": 38915,
  "hb_port": 44135,
  "ip": "127.0.0.1",
  "key": "c8255ad6-13af590e795258033d36e452",
  "transport": "tcp",
  "signature_scheme": "hmac-sha256",
  "kernel_name": "conda-root-py",
  "jupyter_session": "/home/jupyter/starfire_legacy/refinitiv_api.ipynb"
}

Paste the above JSON into a file, and connect with:
    $> jupyter <app> --existing <file>
or, if you are local, you can connect with just:
    $> jupyter <app> --existing kernel-b292fdbf-894d-4a02-b01b-64993ea74486.json
or even just:
    $> jupyter <app> --existing
if this is the most recent Jupyter kernel you have started.

In [15]:
# RDP_LOGIN = '<RDP Machine ID>'
# RDP_PASSWORD = '<RDP Password>'
# APP_KEY = '<APP Key>'

import refinitiv.dataplatform as rdp

%run ./starfire_legacy/credentials.ipynb

session = rdp.open_platform_session(
    APP_KEY,
    rdp.GrantPassword(
        username = RDP_LOGIN,
        password = RDP_PASSWORD
    )
)

# https://developers.lseg.com/en/article-catalog/article/getting-start-with-refinitiv-data-platform

In [16]:
rdp.get_data(
    universe=["TRI.N", "IBM.N"],
    fields=["TR.Revenue", "TR.GrossProfit"]
)

  instrument   TR.Revenue TR.GrossProfit
0      TRI.N   6794000000     6490000000
1      IBM.N  61860000000    34300000000

In [17]:
rdp.get_data(["AAPL.O","MSFT.O"],fields=["TR.F.MktCap"])

  instrument      TR.F.MktCap
0     AAPL.O    2676736860720
1     MSFT.O  3321869074628.3

In [18]:
rdp.convert_symbols(
    ['US5949181045', 'US02079K1079', 'US4592001014'], 
    from_symbol_type='ISIN') #TICKER
# rdp.convert_symbols(
#     ['601318'], 
#     from_symbol_type='TICKER')

,IssueISIN,DocumentTitle,IssuerOAPermID,TickerSymbol,CUSIP,RIC
US5949181045,US5949181045,"Microsoft Corp, Ordinary Share, NASDAQ Global ...",4295907168,MSFT,594918104,MSFT.O
US02079K1079,US02079K1079,"Alphabet Inc, Ordinary Share, Class C, NASDAQ ...",5030853586,GOOG,02079K107,GOOG.O
US4592001014,US4592001014,"International Business Machines Corp, Ordinary...",4295904307,IBM,459200101,IBM

In [19]:
# import datetime
# import pytz

# # Initialize the ses
# stock_symbol = 'AAPL.O'  # Example stock symbol for Apple Inc.
# start_date = datetime.datetime(2023, 6, 26, tzinfo=pytz.UTC)  # Example start date with timezone
# end_date = datetime.datetime(2023, 6, 26, tzinfo=pytz.UTC)  # Example end date with timezone
# interval = rdp.Intervals.DAILY
# fields = ['BID', 'ASK', 'OPEN_PRC', 'HIGH_1', 'LOW_1', 'TRDPRC_1', 'NUM_MOVES', 'TRNOVR_UNS']

# response = rdp.get_historical_price_summaries(
#     universe = [stock_symbol],
#     interval = interval,
#     start = start_date,
#     end = end_date,
#     fields = fields
# )


rdp.get_historical_price_summaries(
    universe = 'SPMI.MI', 
    interval = rdp.Intervals.DAILY,
    start = "2020-01-15", 
    end = "2020-01-29",
)

,TRDPRC_1,HIGH_1,LOW_1,ACVOL_UNS,OPEN_PRC,BID,ASK,TRNOVR_UNS,VWAP,NUM_MOVES,OFF_CLOSE,CLS_AUCVOL,OPN_AUCVOL,OPN_AUC,CLS_AUC,TRD_STATUS,INT_AUC,INT_AUCVOL,NAVALUE
2020-01-15,11.037308,11.132695,10.949451,3029987.840305,11.074961,11.037308,11.039818,33405653.279,11.025008,4071,11.037308,340083.736837,9482.945233,11.074961,11.037308,None,None,None,None
2020-01-16,11.06492,11.208001,11.004676,2339743.044222,11.077471,11.06492,11.069941,25938964.078,11.086257,3286,11.06492,232562.817981,21753.726575,11.077471,11.06492,None,None,None,None
2020-01-17,11.054879,11.175369,11.047349,2223595.688797,11.115124,11.052369,11.054879,24692870.485,11.104832,3182,11.054879,150166.286076,22605.05635,11.115124,11.054879,None,None,None,None
2020-01-20,11.125165,11.185409,11.069941,1615650.619221,11.097553,11.120144,11.125165,17976270.0,11.12642,2969,11.125165,106425.384518,24815.645456,11.097553,11.125165,None,None,None,None
2020-01-21,11.112614,11.180389,11.024757,1959791.020119,11.180389,11.112614,11.115124,21765551.199,11.106087,2978,11.112614,195015.470008,70223.352713,11.180389,11.112614,None,None,None,None
2020-01-22,10.67082,11.044839,10.603045,7606020.031734,11.027267,10.67082,10.683371,81482584.352,10.712991,12348,10.67082,654175.423527,78100.045418,11.027267,10.67082,None,None,None,None
2020-01-23,10.437373,10.630657,10.354536,3662492.797867,10.593004,10.434862,10.442393,38497640.539,10.511423,6041,10.437373,319856.985942,46451.054323,10.593004,10.437373,None,None,None,None
2020-01-24,10.291781,10.560372,10.281741,2852391.764654,10.482556,10.289271,10.291781,29667866.444,10.400975,4577,10.291781,211257.66292,15911.54073,10.482556,10.291781,None,None,None,None
2020-01-27,10.015661,10.188864,9.972987,4497836.535741,10.188864,10.01315,10.015661,45237496.02,10.057581,7475,10.015661,325603.163141,191119.749901,10.188864,10.015661,None,None,None,None
2020-01-28,10.040762,10.085946,9.822376,4214783.527926,10.040762,10.040762,10.045783,42007579.85,9.966712,7310,10.040762,498793.198872,11223.450514,10.040762,10.040762,None,None,None,None
2020-01-29,10.045783,10.166272,9.985538,4052108.629963,10.116068,10.040762,10.045783,40761914.559,10.059338,5587,10.045783,481394.520074,31877.65899,10.116068,10.045783,None,None,None,None

In [64]:
print(datetime.timedelta(0))

<module 'datetime' from '/opt/conda/lib/python3.10/datetime.py'>

In [20]:
mna_screen = f'SCREEN(U(IN(DEALS)/*UNV:DEALSMNA*/),\
                    BETWEEN(TR.MnAAnnDate,20000101,20241231)/*dt:Date*/, \
                    IN(TR.MnAAcquiror, "TRIMBLE NAVIGATION LTD"),\
                    NOT_IN(TR.MnAAcquirorNation, "CN"),\
                    NOT_IN(TR.MnAStatus, "S", "R", "DR", "W", "SW"), \
                    CURN=USD)'


        # input ipo screen results as instrument list and pull ipo attributes via fields from Eikon Data API. 
mnas = rdp.get_data(mna_screen, ['TR.MnASDCDealNumber',
                               'TR.MnAAnnDate',
                               'TR.MnARankValueIncNetDebt(Curn=USD,Scale=6)',
                               'TR.MnADealValue(Curn=USD,Scale=6)', 'TR.MnADealCurrency',
                               'TR.MnADealType',
                               'TR.MnAType',
                               'TR.MnATarget', 'TR.MnATargetNation', 'TR.MnATargetSDCCusip',
                               'TR.MnAAcquiror', 'TR.MnAAcquirorNation', 'TR.MnAAcquirorSDCCusip',
                               'TR.MnAAcquirorUltParent', 'TR.MnAAcquirorUltParentSDCCusip',
                               'TR.MnAPctHeldAtAnnDate', 'TR.MnAPctOfSharesAcquired', 'TR.MnAPctOfSharesAcqSeeksToOwn',
                               'TR.MnAStatus',
                               'TR.MnACompDealId(Concat="|")']) 

print(mnas.shape)
mnas

(97, 21)

,instrument,TR.MNASDCDealNumber,TR.MnAAnnDate,TR.MnARankValueIncNetDebt,TR.MnADealValue,TR.MnADealCurrency,TR.MnADealType,TR.MnAType,TR.MnATarget,TR.MnATargetNation,...,TR.MnAAcquiror,TR.MnAAcquirorNation,TR.MnAAcquirorSDCCusip,TR.MnAAcquirorUltParent,TR.MnAAcquirorUltParentSDCCusip,TR.MnAPctHeldAtAnnDate,TR.MnAPctOfSharesAcquired,TR.MnAPctOfSharesAcqSeeksToOwn,TR.MnAStatus,TR.MnACompDealId
0,34391219589,1005549020,2000-05-11,294.0,294.0,US Dollar,Disclosed Dollar Value Deal,Disclosed Value,Spectra Precision Inc,United States,...,Trimble Navigation Ltd,United States,896239,Trimble Navigation Ltd,896239,<NA>,100.0,100,Completed,
1,34391224495,1051097020,2000-09-21,15.0,15.0,US Dollar,Disclosed Dollar Value Deal,Disclosed Value,Tripod Data System Inc{TDS},United States,...,Trimble Navigation Ltd,United States,896239,Trimble Navigation Ltd,896239,<NA>,0.0,100,Pending,
2,34391244403,1357768020,2002-06-28,6.0,6.0,US Dollar,Disclosed Dollar Value Deal,Disclosed Value,LeveLite Technology Inc,United States,...,Trimble Navigation Ltd,United States,896239,Trimble Navigation Ltd,896239,<NA>,100.0,100,Completed,
3,34391254559,1498950020,2004-02-17,<NA>,<NA>,US Dollar,Undisclosed Dollar Value Deal,Undisclosed Value,TracerNet Corp,United States,...,Trimble Navigation Ltd,United States,896239,Trimble Navigation Ltd,896239,<NA>,100.0,100,Completed,
4,34391262279,1626471020,2004-12-21,<NA>,<NA>,US Dollar,Undisclosed Dollar Value Deal,Undisclosed Value,Pacific Crest Corp,United States,...,Trimble Navigation Ltd,United States,896239,Trimble Navigation Ltd,896239,<NA>,0.0,100,Pending,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,154082967973,2818735040,2015-11-10,<NA>,<NA>,Canadian Dollar,Undisclosed Dollar Value Deal,Undisclosed Value,Agri-Trend Data Corp,Canada,...,Trimble Navigation Ltd,United States,896239,Trimble Navigation Ltd,896239,<NA>,0.0,100,Pending,
93,154082968769,2819290020,2015-11-11,<NA>,<NA>,US Dollar,Undisclosed Dollar Value Deal,Undisclosed Value,Telog Instruments Inc,United States,...,Trimble Navigation Ltd,United States,896239,Trimble Navigation Ltd,896239,<NA>,100.0,100,Completed,
94,154083005207,2918733040,2016-02-08,<NA>,<NA>,British Pound Sterling,Undisclosed Dollar Value Deal,Undisclosed Value,Sefaira Ltd,United Kingdom,...,Trimble Navigation Ltd,United States,896239,Trimble Navigation Ltd,896239,<NA>,100.0,100,Completed,
95,154083096302,2989728040,2016-08-01,<NA>,<NA>,Euro,Undisclosed Dollar Value Deal,Undisclosed Value,AXIO-NET GmbH,Germany,...,Trimble Navigation Ltd,United States,896239,Trimble Navigation Ltd,896239,<NA>,100.0,100,Completed,
96,154083198712,3068198020,2017-02-08,<NA>,<NA>,US Dollar,Undisclosed Dollar Value Deal,Undisclosed Value,Beena Vision Systems Inc,United States,...,Trimble Navigation LTD,United States,3H8772,Trimble Navigation LTD,3H8772,<NA>,100.0,100,Completed,

ERROR!!! Failed to request a new token......
         Token requested error b'{"error":"invalid_grant"   } '
ERROR!!! request a new refresh token has been failed.
The server-mode is disabled, so we do not re-authorize with username/password.
ERROR!!! authentication handler raise an exception.
ValueError('ERROR!!! request a new refresh token has been failed.\nThe server-mode is disabled, so we do not re-authorize with username/password.')

In [16]:
print(mnas['TR.MnAType'].value_counts())
print(mnas['TR.MnADealType'].value_counts())
mnas[mnas['TR.MnATarget'].str.contains('Yamei')]

TR.MnAType
Undisclosed Value                     78
Disclosed Value                       12
Repurchases                            3
Tender Offers                          2
Acquisitions of Remaining Interest     1
Privatizations                         1
Name: count, dtype: Int64
TR.MnADealType
Undisclosed Dollar Value Deal    78
Disclosed Dollar Value Deal      12
Repurchases Deal                  3
Name: count, dtype: Int64

,instrument,TR.MNASDCDealNumber,TR.MnAAnnDate,TR.MnARankValueIncNetDebt,TR.MnADealValue,TR.MnADealCurrency,TR.MnADealType,TR.MnAType,TR.MnATarget,TR.MnATargetNation,...,TR.MnAAcquiror,TR.MnAAcquirorNation,TR.MnAAcquirorSDCCusip,TR.MnAAcquirorUltParent,TR.MnAAcquirorUltParentSDCCusip,TR.MnAPctHeldAtAnnDate,TR.MnAPctOfSharesAcquired,TR.MnAPctOfSharesAcqSeeksToOwn,TR.MnAStatus,TR.MnACompDealId
54,34392053993,2319296040,2011-06-14,<NA>,<NA>,Chinese Yuan,Undisclosed Dollar Value Deal,Undisclosed Value,Changchun Yamei Electronics Technology Co Ltd,China (Mainland),...,Trimble Navigation Ltd,United States,896239,Trimble Navigation Ltd,896239,<NA>,100.0,100,Completed,

ERROR!!! Failed to request a new token......
         Token requested error b'{"error":"invalid_grant"   } '
ERROR!!! request a new refresh token has been failed.
The server-mode is disabled, so we do not re-authorize with username/password.
ERROR!!! authentication handler raise an exception.
ValueError('ERROR!!! request a new refresh token has been failed.\nThe server-mode is disabled, so we do not re-authorize with username/password.')

In [10]:

# Initialize a BigQuery client
client = bigquery.Client()

# Define your project, dataset, and table
project_id = "starfire-410116"
dataset_id = "derived"
table_id = "refinitiv_deals_2"


# Construct a reference to the target table
table_ref = client.dataset(dataset_id).table(table_id)

# Configure the load job to append data to the existing table
job_config = bigquery.LoadJobConfig(
    write_disposition=bigquery.WriteDisposition.WRITE_APPEND
)


from datetime import datetime, timedelta

# Initial start date
start_date = datetime.strptime('19900101', '%Y%m%d')

# Define the interval (15 days)
interval = timedelta(days=10)

# Initialize an empty list to store the date ranges
date_ranges = []

# Loop to create date intervals
for _ in range(10000):  # Adjust the range to get the desired number of intervals
    end_date = start_date + interval
    date_ranges.append((start_date.strftime('%Y%m%d'), end_date.strftime('%Y%m%d')))
    start_date = end_date + timedelta(days=1)

# Print the date ranges
for start, end in date_ranges:
    success = False
    while not success:
        try:
            print(f"Start Date: {start}, End Date: {end}")

            print("Downloading data from refinitiv...")

            mna_screen = f'SCREEN(U(IN(DEALS)/*UNV:DEALSMNA*/),\
                        BETWEEN(TR.MnAAnnDate,{start},{end})/*dt:Date*/, \
                        NOT_IN(TR.MnAAcquirorNation, "CN"),\
                        NOT_IN(TR.MnAStatus, "S", "R", "DR", "W", "SW"), \
                        CURN=USD)'


            # input ipo screen results as instrument list and pull ipo attributes via fields from Eikon Data API. 
            mnas = rdp.get_data(mna_screen, ['TR.MnASDCDealNumber',
                                           'TR.MnAAnnDate',
                                           'TR.MnARankValueIncNetDebt(Curn=USD,Scale=6)',
                                           'TR.MnADealValue(Curn=USD,Scale=6)', 'TR.MnADealCurrency',
                                           'TR.MnADealType',
                                           'TR.MnATarget', 'TR.MnATargetNation', 'TR.MnATargetSDCCusip',
                                           'TR.MnAAcquiror', 'TR.MnAAcquirorNation', 'TR.MnAAcquirorSDCCusip',
                                           'TR.MnAAcquirorUltParent', 'TR.MnAAcquirorUltParentSDCCusip',
                                           'TR.MnAPctHeldAtAnnDate', 'TR.MnAPctOfSharesAcquired', 'TR.MnAPctOfSharesAcqSeeksToOwn',
                                           'TR.MnAStatus',
                                           'TR.MnACompDealId(Concat="|")']) 
            print(mnas.shape)

            print("Uploading data to BQ...")
            mnas.columns = [col[3:].lower() for col in mnas.columns]

            # Load the DataFrame into BigQuery
            load_job = client.load_table_from_dataframe(mnas, table_ref, job_config=job_config)

            # Wait for the load job to complete
            load_job.result()

            print("Data appended successfully.")

            success = True 
            
        except Exception as e:
            print(f"An error occurred: {e}. Retrying for the range {start} to {end}...")

Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...
An error occurred: 'NoneType' object has no attribute 'shape'. Retrying for the range 19900101 to 19900111...
Start Date: 19900101, End Date: 19900111
Downloading data from refinitiv...

KeyboardInterrupt: