In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.ticker as ticker
from google.cloud import bigquery
import os

!pip install openpyxl ## read excel files
!pip install wrds
import wrds

print('----------------\n Establishing WRDS connection:')
# establish connection
conn = wrds.Connection()

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.10/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: wrds in /opt/conda/lib/python3.10/site-packages (3.2.0)
Requirement already satisfied: numpy<1.27,>=1.26 in /opt/conda/lib/python3.10/site-packages (from wrds) (1.26.4)
Requirement already satisfied: packaging<23.3 in /opt/conda/lib/python3.10/site-packages (from wrds) (23.2)
Requirement already satisfied: pandas<2.3,>=2.2 in /opt/conda/lib/python3.10/site-packages (from wrds) (2.2.2)
Requirement already satisfied: psycopg2-binary<2.10,>=2.9 in /opt/conda/lib/python3.10/site-packages (from wrds) (2.9.9)
Requirement already satisfied: scipy<1.13,>=1.12 in /opt/conda/lib/python3.10/site-packages (from wrds) (1.12.0)
Requirement already satisfied: sqlalchemy<2.1,>=2 in /opt/conda/lib/python3.10/site-packages (from wrds) (2.0.29)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.10/site-packages (from pandas<2.3,>=2.2->wrds) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas<2.3,>=2.2->wrds) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.10/site-packages (from pandas<2.3,>=2.2->wrds) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy<2.1,>=2->wrds) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy<2.1,>=2->wrds) (3.0.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas<2.3,>=2.2->wrds) (1.16.0)
----------------
 Establishing WRDS connection:

Enter your WRDS username [jupyter]: rogermasclans
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [7]:

# comp_global_daily.g_secd 
stock_data = conn.raw_sql(
f"""

SELECT
    *
FROM comp_global_daily.g_secd
where gvkey = '001166'
limit 10
"""
)
stock_data
# WHERE comp_global_daily.g_secd.datadate BETWEEN
    # '2024-01-01'::date AND '2024-01-05'::date
# 1999-02-05 where gvkey = '17095'

,gvkey,iid,datadate,conm,curcdd,ajexdi,cshoc,cshtrd,prccd,prchd,...,exchg,isin,secstat,sedol,tpci,fic,gind,gsubind,loc,monthend
0,001166,01W,1984-01-02,ASM INTERNATIONAL NV,None,NaN,NaN,NaN,NaN,NaN,...,104,NL0000334118,A,5165294,0,NLD,453010,45301010,NLD,1.0
1,001166,02W,1984-01-02,ASM INTERNATIONAL NV,None,NaN,NaN,NaN,NaN,NaN,...,171,None,A,5584480,0,NLD,453010,45301010,NLD,1.0
2,001166,03W,1984-01-02,ASM INTERNATIONAL NV,None,NaN,NaN,NaN,NaN,NaN,...,194,None,A,B4LDZ66,0,NLD,453010,45301010,NLD,1.0
3,001166,04W,1984-01-02,ASM INTERNATIONAL NV,None,NaN,NaN,NaN,NaN,NaN,...,349,None,A,4HXP7L7,0,NLD,453010,45301010,NLD,1.0
4,001166,05W,1984-01-02,ASM INTERNATIONAL NV,None,NaN,NaN,NaN,NaN,NaN,...,208,None,A,BKWGJR5,0,NLD,453010,45301010,NLD,1.0
5,001166,06W,1984-01-02,ASM INTERNATIONAL NV,None,NaN,NaN,NaN,NaN,NaN,...,273,None,A,BMBWDJ8,0,NLD,453010,45301010,NLD,1.0
6,001166,07W,1984-01-02,ASM INTERNATIONAL NV,None,NaN,NaN,NaN,NaN,NaN,...,116,None,A,BK71W21,0,NLD,453010,45301010,NLD,1.0
7,001166,01W,1997-04-29,ASM INTERNATIONAL NV,NLG,1.0,33029800.0,NaN,25.6,NaN,...,104,NL0000334118,A,5165294,0,NLD,453010,45301010,NLD,1.0
8,001166,01W,1997-05-02,ASM INTERNATIONAL NV,NLG,1.0,33029800.0,61441.0,26.0,26.0,...,104,NL0000334118,A,5165294,0,NLD,453010,45301010,NLD,0.0
9,001166,01W,1997-05-05,ASM INTERNATIONAL NV,NLG,1.0,33029800.0,NaN,25.9,26.2,...,104,NL0000334118,A,5165294,0,NLD,453010,45301010,NLD,0.0

In [7]:

####SET BG PROJECT TO FETCH DATA
# Define project on BQ
project_id = "starfire-410116"

# Authenticate to Google Cloud
client = bigquery.Client(project=project_id)

# Set allow_large_results to Truepoti
job_config = bigquery.QueryJobConfig()
job_config.allow_large_results = True

dataset_id = 'derived'
table_id = 'stock_index_data_1980_1999'

# Authenticate with Google Cloud using your service account key
client = bigquery.Client(project=project_id)

# Specify the BigQuery table reference
table_ref = client.dataset(dataset_id).table(table_id)

# Upload the Pandas DataFrame to BigQuery with auto-detection
job_config = bigquery.LoadJobConfig(
  autodetect=True, # Enable auto-detection of the schema
  write_disposition=bigquery.WriteDisposition.WRITE_TRUNCATE # You can choose your write disposition
)

# Upload the DataFrame to BigQuery
job = client.load_table_from_dataframe(stock_index_data, table_ref, job_config=job_config)
job.result() # Wait for the job to complete
print(f'... done')

/opt/conda/lib/python3.10/site-packages/google/cloud/bigquery/_pandas_helpers.py:537: UserWarning: Pyarrow could not determine the type of columns: dvpsxd, newnum, oldnum, prccddiv, prccddivn, prchd, prcld.
  warnings.warn(

... done